body{
    padding: 0;
    margin: 0;
    max-width: 100%;
    font-family:  sans-serif;
    text-decoration: none;
}

li{
    list-style: none;
    display: inline;
    margin-right: 26px;
    padding-right: -20px;
    cursor: pointer !important;
}

li a{
    color:black;
    text-decoration: none;
    word-spacing: 1px;
    font-weight: 10px;
    cursor: pointer !important;
    z-index: 10;
}

.underline li{
    color: #01aeb7 !important;
    transition: 0.7s !important;
}

.headerDiv{
    position: relative;
    justify-content: space-between;
    background-color: #a5e5e9;
}

.headerImage{
    width: 100%;
    opacity: .3;
}

.logo{
    float: left;
    margin-left: 8%;
    cursor: pointer !important;
}

.navbar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    z-index: 10;
}

.navbar li a{
    color:black;
    word-spacing: 1px;
    font-weight: 10px;
    cursor: pointer !important;
    text-decoration: none;
    /* z-index: 10; */
}

.navbar li a:hover{
    color: #01aeb7;
    transition: .5s;
}

.headPara{
    position: absolute;
    top: 20%;
    left: 8%;
    font-size: 22px;
    /* font-weight: 1px; */
    word-spacing: 2px;
}

.headPara .heading{
    font-size: 75px;
    color: #01aeb7;
    line-height: 6rem;
}

.headPara .para{
    font-size: 15px;
    word-spacing: 8px;
}

.btn1{
    background-color: #01aeb7;
    color: white;
    font-size: 13px;
    width: 160px;
    border-radius: 1.5rem;
    border: none;
    padding: 1rem;
}

.btn1:hover{
    background: white;
    color: #01aeb7;
    transition: .5s;
}

.expertiseDiv{
    /* position: relative; */
    background-color: #f6f9f9;
    height: 790px;
    width: 100%;
    margin-top: 230px;
    display: flex;
    justify-content: space-between;
}

.expertiseText{
    position: absolute;
    font-size: 27px;
    color: white;
    margin-top: 15px;
    margin-left: 0px;
}

.expertisePara{
    position: absolute;
    font-size: 43px;
    color: white;
    margin-top: -490px;
    margin-left: 80px;
    
}

.line1{
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
}

.ExpertiseSubPara{
    color:white;
    /* position: absolute; */
    margin-top: -340px;
    margin-left: 80px;
}

h2{
    font-size: 21px;
    font-weight: light;
    text-align: center;
}

.yogaDiv1{
    width: 100%;
    display: flex;
    margin-top: 170px;
    margin-right: 100px;
}

.yogaDiv2{
    width: 100%;
    display: flex;
    margin-top: 50px;
}

.yogaPara{
    font-weight: lighter;
    font-size: 15px;
    line-height: 25px;
}

.yogaImg{
    width: 25%;
}

.yogastyles1{
    height: 200px;
    width: 180px;
    margin-right: 50px;
    text-align: center;
}

.yogastyles2{
    height: 200px;
    width: 180px;
    margin-right: 50px;
    text-align: center;
}

.yogastyles3{
    height: 200px;
    width: 180px;
    text-align: center;
}

.yogastyles4{
    height: 200px;
    width: 180px;
    margin-right: 50px;
    text-align: center;
}

.yogastyles5{
    height: 200px;
    width: 180px;
    margin-right: 50px;
    text-align: center;
}

.yogastyles6{
    height: 200px;
    width: 180px;
    text-align: center;
}

.award{
    background-image: url(Images/bg-graphic-free-img-1.jpg);
    text-align: center;
    font-size: 35px;
    margin-top: 170px;
}

.awardPara{
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
    margin-top: -20px;
}

.awardLogo{
    width: 11%;
    margin-right: 3%;
    margin-left: 4%;
    opacity: .5;
}

.classesDiv{
    position: relative;
    float: right;
    background-color: #f6f9f9;
    height: 700px;
    width: 100%;
    margin-top: 180px;
}

.classImg{
    float: right;
}

.classText{
    position: absolute;
    margin: 320px 0 0 1172px;
    color: white;
    font-size: 31px;
}

.classPara{
    position: absolute;
    margin-top: 350px;
    margin-left: 1040px;
    font-size: 43px;
    color: white;
}

.classSubPara{
    font-size: 16px;
    padding-top: 30px;
    margin-right: 50px;
}

.tableDiv1{
    position: absolute;
    display: flex;
    margin-top: 300px;
    padding-left: 185px;
}
.div1{
    font-size: 27px;
    margin-right: 50px;
}

.div2{
}

.div3{
    font-size: 27px;
    margin-left: 50px;
}

.tableDiv2{
    position: absolute;
    display: inline-block;
    margin-top: 360px;
    padding-left: 130px
}

.timeDiv1{
    /* text-align: center; */
    background-color: #ffffff;
    /* border: 2px solid; */
    font-size: 20px;
    height: 120px;
    width: 133px;
    margin-left: 50px;
    padding-top: 40px;
    /* padding-left: 20px; */
}

.time{
    padding-left: 20px;
}

.time1{
    padding-left: 20px;
}

.timeLine{
    border: 1px solid #80d6db;
    margin-top: 50px;
}

.tableDiv3{
    position: absolute;
    display: inline-block;
    margin-top: 360px;
    padding-left: 310px
}

.yogaName1{
    background-color: #ffffff;
    /* border: 2px solid; */
    text-align: center;
    font-size: 25px;
    height: 140px;
    width: 181px;
    padding-top: 20px;
}

.yogaNamePara{
    background-color: #ffffff;
    font-size: 15px;
    line-height: 23px;
}

.yogaLine{
    border: 1px solid #80d6db;
    margin-top: 26px;
}

.tableDiv4{
    position: absolute;
    display: inline-block;
    margin-top: 360px;
    padding-left: 490px;
}

.btnDiv1{
    background-color: #ffffff;
    /* border: 2px solid rosybrown; */
    font-size: 22px;
    height: 135px;
    /* margin-left: 50px; */
    padding-top: 25px;
}

.tableBtn{
    background-color: #01aeb7;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 50px;
    margin: 17px;
    padding: 11px;
    width: 150px;
    cursor: pointer;
}

.btnLine{
    border: 1px solid #80d6db;
    margin-top: 21px;
}

.tableBtn:hover{
    background-color: white;
    color: #01aeb7;
    transition: .5s;
}

/* table{
    position: relative;
    margin-bottom: -500px;
}

table,th,td{
    padding-left: 10px;
}

th{
    font-size: 26px;
    background: none;
}

th,td{
    border: 0px;
    font-weight: lighter;
    text-align: center;
    line-height: 30px;
}

.time{
    font-size: 20px;
    font-weight: bold;
}

h4{
    font-size: 25px;
    font-weight: lighter;
}

.tableBtn{
    background-color: #01aeb7;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 150px;
    cursor: pointer;
}

.tableBtn:hover{
    background-color: white;
    color: #01aeb7;
    transition: .5s;
} */